@use "./base.scss";

// put your custom CSS here!

// unset rules for <tex> included in svg
svg text {
  all: revert-layer;
}
// Hide article title
.article-title {
  display: none;
}

// change link color for planuml diagrams
svg[data-diagram-type] a text {
  fill: #fce8c1;
}

// change link color for planuml ACTIVITY diagrams
svg[data-diagram-type="ACTIVITY"] a text {
  fill: #000000;
}

svg.panzoom {
  max-width: 100%;
  width: 100%;
  height: 100%;
  aspect-ratio: 1;
  border: 1px solid var(--lightgray);
  border-radius: 5px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
