@use "./base.scss";

// put your custom CSS here!

// unset rules for <tex> included in svg
svg text {
  all: revert-layer;
}
// Hide article title
.article-title {
  display: none;
}

// change link color for planuml diagrams
svg[data-diagram-type] a text {
  fill: #fce8c1;
}
