@use "./base.scss";

// put your custom CSS here!
:root {
	--instruction-color: #c00000;
	--sugg_dir-color: #e36c09;
	--presuppose-color: #4f81bd;
	--double_lien-color: #76923c;
	--negation-color: #953734;
	--saupoudrage-color: #d99694;
	--evocation-color: #b2a2c7;
}

.hltr-instruction, mark.hltr-instruction, .markdown-preview-view mark.hltr-instruction {
	
    background: initial !important;
	color: var(--instruction-color) !important;
	padding: initial !important;
}

.hltr-sugg_dir, mark.hltr-sugg_dir, .markdown-preview-view mark.hltr-sugg_dir {
	
    background: initial !important;
	color: var(--sugg_dir-color) !important;
	padding: initial !important;
}

.hltr-presuppose, mark.hltr-presuppose, .markdown-preview-view mark.hltr-presuppose {
	
    background: initial !important;
	color: var(--presuppose-color) !important;
	padding: initial !important;
}

.hltr-double_lien, mark.hltr-double_lien, .markdown-preview-view mark.hltr-double_lien {
	
    background: initial !important;
	color: var(--double_lien-color) !important;
	padding: initial !important;
}

.hltr-negation, mark.hltr-negation, .markdown-preview-view mark.hltr-negation {
	
    background: initial !important;
	color: var(--negation-color) !important;
	padding: initial !important;
}

.hltr-saupoudrage, mark.hltr-saupoudrage, .markdown-preview-view mark.hltr-saupoudrage {
	
    background: initial !important;
	color: var(--saupoudrage-color) !important;
	padding: initial !important;
}

.hltr-evocation, mark.hltr-evocation, .markdown-preview-view mark.hltr-evocation {
	
    background: initial !important;
	color: var(--evocation-color) !important;
	padding: initial !important;
}

// unset rules for <tex> included in svg
svg text {
  all: revert-layer;
}
// Hide article title
.article-title {
  display: none;
}

// change link color for planuml diagrams
svg[data-diagram-type] a text {
  fill: #fce8c1;
}

// change link color for planuml ACTIVITY diagrams
svg[data-diagram-type="ACTIVITY"] a text {
  fill: #000000;
}

div.svgpanzoom-container {
  display: inline-block;
  position: relative;
}

button.svgpanzoom-motion-button {
  position: absolute;
  bottom: 30px;
  left: 15px;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid var(--lightgray);
  border-radius: 3px;
  padding: 2px 5px;
  cursor: pointer;
}

svg.panzoom {
  max-width: 100%;
  width: 100%;
  height: 100%;
  aspect-ratio: 1;
  border: 1px solid var(--lightgray);
  border-radius: 5px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
